
	<table>
		<tr>
			<td>
				INDIDENCIA 0: nA.
			</td>
		</tr>

		<tr>
			<td>
					- Tipo: Edificio público (Centro de salud).
			</td>
		</tr>

		<tr>
			<td>
					- Fecha de notificación: 28/12/2023
			</td>
		</tr>

		<tr>
			<td>
					- Fecha de detección: --no consta--

			</td>
		</tr>

		<tr>
			<td>
					================ DATOS DEL LUGAR =============================

			</td>
		</tr>

		<tr>
			<td>
					- Lugar: --no consta--				</td>
		</tr>

		<tr>
			<td>
				
			</td>
		</tr>

		<tr>
			<td>
					- Ruta absoluta de la imagen en el sistema de archivos: --no consta--	

			</td>
		</tr>

		<tr>
			<td>
					================ DESCRIPCIÓN DE LA INCIDENCIA ================

			</td>
		</tr>

		<tr>
			<td>
					--no consta--

			</td>
		</tr>

		<tr>
			<td>
					================ ENCARGADOS DE LA GESTIÓN ====================

	- RESPONSABLE:
					</td>
		</tr>

		<tr>
			<td>
				--no consta--
			</td>
		</tr>

		<tr>
			<td>
					- SUPERVISORES:
			</td>
		</tr>

		<tr>
			<td>
						--no consta--

			</td>
		</tr>

		<tr>
			<td>
					================ TAREAS DE NOTIFICACIÓN ======================

			</td>
		</tr>

		<tr>
			<td>
						--no consta--
			</td>
		</tr>

	</table>
